[Unit]
Description=Install Archlinux
Wants=pacman-init.service network.target network-online.target
After=pacman-init.service network.target network-online.target

{% set net = hostvars[inventory_hostname].net %}

[Service]
Type=oneshot
StandardOutput=tty
RemainAfterExit=yes
ExecStart=/usr/bin/env sh -c '\
        set -x && \
	sleep 10 && \
	curl http://{{net | ipaddr('1') | ipaddr('address')}}/conf/install.sh -o /tmp/install.sh && \
        chmod +x /tmp/install.sh && \
        /tmp/install.sh {{net | ipaddr('1') | ipaddr('address')}}; \
'

[Install]
WantedBy=multi-user.target
