[Unit]
Description=Post-install Archlinux
Wants=network.target network-online.target systemd-resolved.service
After=network.target network-online.target systemd-resolved.service

{% set net = hostvars[inventory_hostname].net %}

[Service]
Type=oneshot
StandardOutput=tty
User=user
RemainAfterExit=yes
ExecStart=/usr/bin/env sh -c '\
  set -x && \
  curl http://{{net | ipaddr('1') | ipaddr('address')}}/conf/post-install.sh -o /tmp/post-install.sh && \
  chmod +x /tmp/post-install.sh && \
  /tmp/post-install.sh {{net | ipaddr('1') | ipaddr('address')}}; \
'

[Install]
WantedBy=multi-user.target

