[Unit]
Description=Post-install Archlinux
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
StandardOutput=tty
User=user
RemainAfterExit=yes
ExecStart=/usr/bin/env sh -c '\
  sleep 10 && \
  sudo systemctl disable post-install && \
  nc -l -p 50000; \
'

[Install]
WantedBy=multi-user.target

