[Unit]
Description=Post-install Archlinux
Wants=network-online.target
After=network.target network-online.target

{% set addr = hostvars[inventory_hostname].net | ipaddr('address') %}

[Service]
Type=oneshot
User=user
RemainAfterExit=yes
ExecStart=/usr/bin/env sh -c '\
  sleep 10 && \
  mkdir -p /home/user/.ssh && \
  curl http://{{addr}}/keys/authorized_keys -o /home/user/.ssh/authorized_keys && \
  sudo curl http://{{addr}}/keys/user_ca.pub -o /etc/ssh/user_ca.pub && \
  sudo curl --data "@/etc/ssh/ssh_host_rsa_key.pub" http://{{addr}}/keys/sign?host=%H -o /etc/ssh/ssh_host_rsa_key-cert.pub && \
  echo "HostCertificate /etc/ssh/ssh_host_rsa_key-cert.pub" | sudo tee -a /etc/ssh/sshd_config && \
  echo "TrustedUserCAKeys /etc/ssh/user_ca.pub" | sudo tee -a /etc/ssh/sshd_config && \
  sudo systemctl restart sshd && \
  sudo systemctl disable post-install && \
  nc -l -p 50000; \
'

[Install]
WantedBy=multi-user.target

